<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="ftp1Url" value="ftp://test.rebex.net/pub/example/" />
    <add key="ftp1Username" value="demo" />
    <add key="ftp1Password" value="password" />
    <add key="ftp1ReadTimeOut" value="10" />
    <add key="localDirectory1" value="C:/tmp/Directory1" />

    <add key="ftp2Url" value="ftp://test.rebex.net/pub/" />
    <add key="ftp2Username" value="demo" />
    <add key="ftp2Password" value="password" />
    <add key="ftp2ReadTimeOut" value="10" />
    <add key="localDirectory2" value="C:/tmp/Directory2" />

    <add key="ftp3Url" value="ftp://test.rebex.net/" />
    <add key="ftp3Username" value="demo" />
    <add key="ftp3Password" value="password" />
    <add key="ftp3ReadTimeOut" value="10" />
    <add key="localDirectory3" value="C:/tmp/Directory3" />

  </appSettings>

</configuration>